{% extends 'base.html' %}
{% block content %}
    <h2>
    add an event:
    </h2>
    <form>
        <label for="event_name">name:</label>
        <input type="text" name="event_name" id="event_name">
        <label for="event_date">date:</label>
        <input type="datetime" name="event_date" id="event_date">
        <label for="expected attendance">capacity:</label>
        <input type="text" name="event_number_of_guests" id="event_number_of_guests">
        <label for="event_location">venue:</label>
        <input type="text" name="event_location" id="event_location">
        <label for="event_description">description:</label>
        <input type="text" name="event_location" id="event_description">
    </form>
{% endblock %}