.App {
  text-align: center;
}

h1 {
  background-color: #74b3ceff;
  margin: 1rem;
  padding: 2rem;
  font-size: 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  width: 10rem;
  grid-row-start: 2;
}

#bookings {
  background-color: #74b3ceff;
  grid-column-start: 2;
}

#booking-form {
  background-color: #74b3ceff;
}

/* --dark-sky-blue: #74b3ceff;
--steel-teal: #508991ff;
--prussian-blue: #172a3aff;
--warm-black: #004346ff;
--mountain-meadow: #09bc8aff; */