<html>
    <head>
        <title>{{ title }} - My To-Do List</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <ul>
            <li>
                <a href="/tasks">Home</a>
            </li>
            <hr>
            {% block content %}
            {% endblock %}
        </ul>        
    </body>
</html>