body{
    font-family: 'Comforta', sans-serif;
}

header{
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 0;
    padding: 2rem;
    color: white
}

.pizza_orders > li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem
}

.pizza_orders > li > h3 > a{
    text-decoration: wavy;
    color: hotpink;
    font-weight: bold;
}

li{
    list-style: none;
}

.footer_links > li > a{
    text-decoration:none;
    color: black
}

.footer_links > li > a:hover{
    text-decoration:underline;
    
}

.header_links > li > a{
    text-decoration: none;
    color: white
}

.header_links > li > a:hover{
    text-decoration:underline 
}
