body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 4rem;
  background-color: #4584b1;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

#logo {
  margin-left: 40px;
  padding: 1rem
}

nav {
  background-color: #103594 ;
  height: 3rem;
  display: flex;
  align-content: center
}

nav ul {
  display:flex;
  gap: 2rem
}

nav > ul > li{
  color:#fff;
  font-size: 1rem;
  list-style: none;
  margin-left: 1rem
}

nav > ul > li > a{
  color:#fff;
  text-decoration: none;
}

nav > ul > li > a:hover{
  text-decoration: underline;
}

.where-togo{
  background-color: #040E27;
  padding: 1rem
}

.where-togo > h3{
  font-size:2rem;
  color: #fff
}

.search-form{
  display: flex;
}

.search-form > div{
  width: 9rem;
  margin: 0.5rem
}


.input-field > input{
  width: 8rem;
  height: 2.5rem;
  padding-left: 0.75rem;
  border: 0;
  border-radius: 0.5rem;
  /* Style the form input elements using width, height, padding-left and border-radius */
}

.nice-select {
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  border: 0rem;
  border-radius: 5px;
  /* Select elements are not imput elements! Therefore we've given the <select> element it's own class  */
  /* They are notoriously difficult to style with css */
}

.search-btn {
  background: rgb(198, 66, 66);
  color: white;
  font-size: 1rem;
  height: 2.5rem;
  width: 8rem;
  border: 0;
  border-radius: 7px;
  cursor: pointer
}

.container {
  display:grid;
  justify-content: center

}

.row {
  grid-template-columns: 20rem 20rem 20rem;
}

.section-title > h3 {
  display: flex;
  justify-content: center;
}

.single-destination {
  margin: 0.4rem;
  overflow: hidden
}

img {
  max-width: 100%;
}

/* Let's take the training wheels off. Finish off the page by adding styles to the remaining blocks */

.testimonial-area {
  background-color: #0c215583;
  padding: 1rem
}

.testimonial-area>article{
  display:flex;
  gap: 1rem;
  padding: 1rem;

}

.single-testmonial{
  font-size: small;
  background-color: rgb(203, 203, 203);
  padding: 3rem;
  width: 7rem;
  height: 14rem;
  text-align: center;
  /* Write your code here */
}

.footer {
  background-color: #071948e8;
  color: white
  /* Write your code here */
}

.footer-widget p {
  font-size: small;
  color: white;
  text-decoration: none;
  list-style: none;
}

.footer-widget p > a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.footer-widget a:hover {
  text-decoration: underline;
}

.footer-widget ul li {
  gap: 2rem
}

.links a {
  font-size: 11px;
  color: white;
  list-style: none
}

.links a:hover {
  text-decoration: none
}

@media (max-width: 720px) {
    /* Add some responsive code here */
    /* Make the destinations stack on top of each other */
    /* Make the form input stack on top of each other */
}