<html>
    <head>
        <title> My orders</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>
            my orders
        </h1>
        <div class="order_container">
            <ul>
                {% for order in orders %}
                <li>
                        <a href="/order/{{order.order_id}}">{{order.book_title}}, {{order.author}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
    </body>
</html>